/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 10/07/2025, 07:06:15 PM
    Author     : pcgc7
*/


.imgFondo { background-image: url('../imagenes/fondoMadera_13.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; min-height: 100vh; }
.titulo1 { font-family: "MonteCarlo", cursive; font-weight: 400; font-style: normal; font-size: 12.5em; }
.titulo2, .texto1 { font-family: "Bree Serif", serif; font-weight: 400; font-style: normal; }
.w-100 { width: 30% !important;}
.img-fluid { width: 100% !important; }
.display-4 { font-size: 3.5em !important; }
.btn-lg { font-size: 1.25em !important; }         

/****************************** MEDIA QUERIES ******************************/

@media screen and (min-width: 1484px) and (max-width: 1647.98px) {
    
    .w-100 { width: 30% !important;}
    .img-fluid { width: 100% !important; }
    .titulo1 { font-size: 9.5em; }                /* 75% */
    .display-4 { font-size: 3.25em !important; }
    .btn-lg { font-size: 1.25em !important; }                
}

@media screen and (min-width: 1200px) and (max-width: 1483.98px) {
    
    .w-100 { width: 30% !important;}
    .img-fluid { width: 100% !important; }
    .titulo1 { font-size: 9.5em; }                /* 75% */
    .display-4 { font-size: 3em !important; }
    .btn-lg { font-size: 1.25em !important; }            
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    
    .w-100 { width: 40% !important;}
    .img-fluid { width: 50% !important; }
    .titulo1 { font-size: 9.5em; }                /* 75% */
    .display-4 { font-size: 2.75em !important; }
    .btn-lg { font-size: 1.25em !important; }    
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    
    .w-100 { width: 40% !important;}
    .img-fluid { width: 50% !important; }
    .titulo1 { font-size: 9.5em; }                /* 75% */
    .display-4 { font-size: 2.25em !important; }
    .btn-lg { font-size: 1em !important; }            
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    
    .w-100 { width: 40% !important;}
    .img-fluid { width: 50% !important; }
    .titulo1 { font-size: 6.25em; }                 /* 50% */
    .display-4 { font-size: 2em !important; }
    .btn-lg { font-size: 1em !important; }        
}

@media screen and (min-width: 481px) and (max-width: 575.98px) {
    
    .w-100 { width: 40% !important;}
    .img-fluid { width: 50% !important; }
    .titulo1 { font-size: 6.25em; }                 /* 50% */
    .display-4 { font-size: 1.5em !important; }
    .btn-lg { font-size: 1em !important; }        
}

@media screen and (max-width: 480px) {
    
    .w-100 { width: 40% !important;}                /* 100% */
    .img-fluid { width: 50% !important; }           /* 100% */
    .titulo1 { font-size: 6.25em; }                 /* 50% */
    .display-4 { font-size: 1.5em !important; }     /* 3.5em */
    .btn-lg { font-size: 1em !important; }          /* 1.25em */
}